body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #000000;
    margin: 0;
    padding: 0;
}

.my-resume {
    padding: 3vw;
}

/* Resume grid */
.resume-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Max two columns */
    gap: 50px; /* Space between sections */
    align-items: start; /* Align items vertically */
}

/* Title and content styling */
.resume-title {
    color: limegreen;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    border-bottom: 3px solid limegreen;
    padding-bottom: 5px;
}

.resume-item {
    background-color: pink;
    padding: 8px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.resume-item h4 {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.resume-item h5 {
    font-size: 1em;
    color: #ff0000;
    margin-bottom: 10px;
}

.resume-item p, .resume-item ul {
    font-size: 0.9em;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 5px;
}

/* Responsive layout */
@media (max-width: 800px) {
    .resume-grid {
        grid-template-columns: 1fr; /* Collapse to one column on smaller screens */
    }
}
